body { 
    background-color: aliceblue;
}

#wrapper {
    display: flex;
}

#buttonSet {
    flex: 2;
}

#blankDiv {
    flex: 1;
}

#grid {
    flex: 2;
    background-color: white;
    margin-top: 3vh;
    height: 90vh;
    width: 90vh;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 15px rgb(170, 170, 170);    
}

.gridCell {
    border: 0.1px solid black;
    flex: 0 0 auto;
    box-sizing: border-box;
}
